<ion-header>
  <ion-toolbar>
    <ion-title>Hiển thị thời gian</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-button expand="full" (click)="showTime()">Hiển thị thời gian</ion-button>
  <p *ngIf="currentTime">Thời gian hiện tại: {{ currentTime }}</p>

  <ion-button expand="full" (click)="sendNotification()">Gửi thông báo</ion-button>
  <ion-button expand="full" (click)="shareTime()">Chia sẻ thời gian</ion-button>
  <ion-button expand="full" (click)="captureScreen()">Chụp màn hình</ion-button>
</ion-content>
